.vs/
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Tt]est/
ignoreAssets/
Sounds/
Primary/

LightmapSnapshot.asset
LightmapSnapshot.asset.meta
*.exr
*.exr.meta
*.exe
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs